/* ajout image signup*/
.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}

/*miniature signup*/
.preview ol li img, .avatarImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* CONFIGURATION PARTIE AJOUT D'UN AVATAR */

.avatarInputs {
  display: none;
}

.avatarLabels img {
  width : 6vw;
  height: 6vw;
  border-radius:50%;
}

.avatarInputs:checked + .avatarLabels img {
  border : 2px solid rgb(0, 156, 34);
  border-radius:50%;
}